// Define variables for your color scheme

// For example:
$red: #cf2e2e;
$blue: #3f00ff;
$yellow: #ffb61e;
$orange: #ff5f00;
$green: #aadb1e;
$gray: #0E0000;
$light-gray: #F4F4F4;

// new custom colors
$venom-green: #9fef00;
$night-blue: #111927;
$dark-blue: #0b121f;
$content-color: #a4b1cd;
