<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580729/Le%20Meme/meme_lib/Woman-Yelling-At-Cat_xb7rys.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580729/Le%20Meme/meme_lib/Third-World-Skeptical-Kid_xr8yo3.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580727/Le%20Meme/meme_lib/But-Thats-None-Of-My-Business_oy0oyo.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580729/Le%20Meme/meme_lib/Success-Kid_oxfyn7.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580728/Le%20Meme/meme_lib/Sad-Pablo-Escobar_dnoggg.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580728/Le%20Meme/meme_lib/I-Bet-Hes-Thinking-About-Other-Women_yabmw9.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580728/Le%20Meme/meme_lib/Picard-Wtf_nkwylh.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
          <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686580728/Le%20Meme/meme_lib/Laughing-Men-In-Suits_t0ycgy.jpg" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
