<%# LANDING PAGE %>
<%#
<!-- Hero -->
<div class="lc-block card border-0 text-center rounded p-4 p-lg-6"
  style="background:url(http://cdn.livecanvas.com/media/backgrounds/fffuelco/ffflux.svg)  center / cover no-repeat;">
  <div class="row mb-4 align-items-center flex-lg-row-reverse">
    <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 " style="">
      <!-- requires glightbox, please flag the option in the picostrap customizer panel-->


      <div class="lc-block position-relative">
        <img class="img-fluid rounded shadow" src="#"
          srcset="https://cdn-useast1.kapwing.com/static/z90-meme-generator.webp 3840w, https://cdn-useast1.kapwing.com/static/z90-meme-generator.webp 150w, https://cdn-useast1.kapwing.com/static/z90-meme-generator.webp 300w, https://cdn-useast1.kapwing.com/static/z90-meme-generator.webp 768w, https://cdn-useast1.kapwing.com/static/z90-meme-generator.webp 1024w"
          sizes="(max-width: 3820px) 100vw, 3820px" width="800px" height="" alt="Le Meme screenshot">
        <a class="position-absolute top-50 start-50 translate-middle glightbox d-flex justify-content-center align-items-center"
          href="#">
        </a>
      </div>
    </div><!-- /col -->
    <div class="col-md-6 col-xl-5">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h1 class="fw-bolder display-2">Le Meme</h1>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->
      <div class="lc-block mb-4">
        <div editable="rich">
          <p class="lead text-light fw-bold">Laugh, Compete, Repeat: Meme Your Way to Glory!</p>
        </div>
      </div>
      <div class="lc-block">
        <a class="btn btn-info btn-lg rounded-pill" href="#" role="button">
          <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" class="CTAButtons_uploadIcon__EmWeL" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="17 8 12 3 7 8"></polyline>
            <line x1="12" y1="3" x2="12" y2="15"></line>
          </svg>
          <span class="fw-bold">Create a Meme</span>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
            class="CTAButtons_chevron__jYabo" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </a>
      </div>
      <!-- /lc-block -->
    </div><!-- /col -->
  </div>
</div>


<div class="min-vh-100 d-flex align-items-center w-auto p-3"
  style="background:url(http://cdn.livecanvas.com/media/backgrounds/fffuelco/ffflux.svg) center / cover no-repeat;">
  <div class="row">
    <h2 class="display-6 text-center text-light fw-bold mb-5">Coming Soon...</h2>
    <div class="col-md-4">
      <div class="lc-block">
        <div class="card shadow p-2 bg-dark text-light" style="border-radius: 5px;">
          <img class="card-img-top" src="https://img-9gag-fun.9cache.com/photo/aQer03z_700bwp.webp" alt="Meme Photo"
            loading="lazy">
          <div class="card-body text-center">
            <h1 class="card-title mb-4" editable="rich">Endless Memes</h1>
            <h4>Create and Share Memes with Le Meme</h4>
            <p class="card-text">Le Meme is the ultimate meme generator where you can create and share your own memes. Join our community and battle it out with other users to see who has the best meme-making skills. Get ready to explore a vast collection of hilarious coding memes.</p>
            <a class="btn btn-info" href="#" role="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="lc-block">
        <div class="card shadow p-2 bg-dark text-light" style="border-radius: 5px;">
          <img class="card-img-top"
            src="https://i0.wp.com/boardgamechick.com/wp-content/uploads/2022/07/what-do-you-meme-game-rules.jpg?w=1024&ssl=1"
            alt="Photo of a card" loading="lazy">
          <div class="card-body text-center">
            <h1 class="card-title mb-4" editable="inline">Quick Rounds</h1>
            <h4>Express Yourself with Le Meme</h4>
            <p class="card-text">Test your meme knowledge in fast-paced rounds against the clock. With Le Meme, you can customize your memes with a variety of fonts, colors, and images. Let your imagination run wild and create memes that are truly unique.</p>
            <a class="btn btn-info" href="#" role="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="lc-block">
        <div class="card shadow p-2 bg-dark text-light" style="border-radius: 5px;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/leaderboard-with-abstract-background_52683-51485.jpg?w=1060&t=st=1686092955~exp=1686093555~hmac=c89e18650adaf549a897c1837432f2fbb04ef4d694df54bff38121abb3526ff3"
            alt="Photo of Leaderboard" loading="lazy">
          <div class="card-body text-center">
            <h1 class="card-title mb-4" editable="inline">Leaderboard</h1>
            <h4>Create Memes and Battle for the Best</h4>
            <p class="card-text">Unleash your creativity and compete with other users to see who can come up with the funniest memes. Share your memes and vote for your favorites. Compete with other coders and climb to the top of the leaderboard.</p>
            <a class="btn btn-info" href="#" role="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
  <section>
        <div class="py-2 bg-dark position-relative rounded ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="lc-block mb-2">
                    <p class="m-0 fs-2 text-info">Le<strong class="text-primary">Meme</strong></p>
                        <%# <img alt="logo" class="img-fluid" src="https://cdn.livecanvas.com/media/logos/logo-2.svg" style="height:10vh"> %>
                    <%# </div>
                    <div class="lc-block text-light mb-2">
                        <div editable="rich">
                            <h4>
                                <em>Create, Battle, and Share Memes</em>
                            </h4>
                        </div>
                    </div>
                    <div class="lc-block text-light text-center">
                        <div editable="rich">
                            <p>Copyright © Le Meme 2023</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 d-flex justify-content-center">
                    <div class="lc-block text-center text-light py-2 mx-2">
                        <a class="text-decoration-none" href="https://www.facebook.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="2em" height="2em" lc-helper="svg-icon" fill="currentColor">
                                <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="lc-block text-center text-light py-2 mx-2">
                        <a class="text-decoration-none" href="https://www.pinterest.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="2em" height="2em" lc-helper="svg-icon" fill="currentColor">
                                <path d="M448 80v352c0 26.5-21.5 48-48 48H154.4c9.8-16.4 22.4-40 27.4-59.3 3-11.5 15.3-58.4 15.3-58.4 8 15.3 31.4 28.2 56.3 28.2 74.1 0 127.4-68.1 127.4-152.7 0-81.1-66.2-141.8-151.4-141.8-106 0-162.2 71.1-162.2 148.6 0 36 19.2 80.8 49.8 95.1 4.7 2.2 7.1 1.2 8.2-3.3.8-3.4 5-20.1 6.8-27.8.6-2.5.3-4.6-1.7-7-10.1-12.3-18.3-34.9-18.3-56 0-54.2 41-106.6 110.9-106.6 60.3 0 102.6 41.1 102.6 99.9 0 66.4-33.5 112.4-77.2 112.4-24.1 0-42.1-19.9-36.4-44.4 6.9-29.2 20.3-60.7 20.3-81.8 0-53-75.5-45.7-75.5 25 0 21.7 7.3 36.5 7.3 36.5-31.4 132.8-36.1 134.5-29.6 192.6l2.2.8H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="lc-block text-center text-light py-2 mx-2">
                        <a class="text-decoration-none" href="https://www.linkedin.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="2em" height="2em" lc-helper="svg-icon" fill="currentColor">
                                <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="lc-block text-center text-light py-2 mx-2">
                        <a class="text-decoration-none" href="https://www.instagram.com/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="2em" height="2em" lc-helper="svg-icon" fill="currentColor">
                                <path d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> %>

<%# DEMO PAGE %>
<div class="demo">
  <h1>Le<strong>Meme</strong></h1>
  <%= image_tag "demo_intro.png" %>
  <%= link_to "START DEMO", memes_path, class: "btn btn-primary btn-lg" %>
</div>
