<%# OUTRO PAGE %>
<div class="outro">
  <h1>Le<strong>Meme</strong></h1>
  <img src="https://res.cloudinary.com/dvje7oyen/image/upload/v1686843097/production/ofzth1aoiz9j36np9fve1cxufg9p.png">
</div>
