body {
  color: $content-color;
}
#comm-show {
  padding: 3rem 0;

  .archived {
    flex: 0 0 25%;
    position: relative;
    font-size: .9rem;
    opacity: .65;

    img {
      filter: grayscale(85%);
      max-height: 200px;
      width: 100%;
      object-fit: cover;
      min-height: 200px;
    }

    p {
      background: #ececec;
      color: #464646;
      text-align: center;
      padding: .25rem;
      font-weight: 700;
      border-top: 1px solid #fff;
    }
  }
}


.archived::before{
  position: absolute;
  top: 34px;
  right: 5px;
  content: '';
  background: darken($primary, 15%);
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.archived::after{
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -1px;
  padding: 0.5rem 1rem;
  background: $primary;
  color: $night-blue;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.comm-members {
  position: fixed;
  right: 25px;
  border-left: 1px solid $border-color;
  padding: 1rem;

  h3 {
    font-size: 1.5rem;
  }

  .list-group-item {
    background: transparent;
    color: #fff;
  }
}

h3 {
  color: $content-color;
}

#comm-profile {
  margin-top: 3rem;

  p {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
  }

  h1, h3 {
    color: #fff;
  }
}


