.sidebar-container {
  max-width: 300px;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.community-card {
  max-width: inherit;
  width: inherit;
  padding: 2rem;

  span.meme-title {
    font-size: 0.5rem;
    font-weight: 700;
  }
}
