#meme-tools {
  justify-content: space-between;
}
.main-creator {
  padding: 4rem 0;

  .meme-tool-boxes {
    display: flex;
    text-decoration: white;
    flex-direction: column;
    background: $dark-blue;
    padding: 2rem;
    justify-content: center;
    max-height: 330px;
    width: calc(50% - .25rem);  }
}


.create-meme-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;

  form {
    width: 100%;
  }
}

#meme-tools {
  color: $content-color;
}

.boxtool {
  padding-top: 2rem;
  border-radius: 20px;
  color: $content-color;
  margin: 0.5rem 0;
  background: $dark-blue;
}
