.meme-container {
  max-width: 650px;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background: transparent;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.meme-card {
  max-width: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
    width: 100%;
  }

  span.meme-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $content-color;
    text-align: left;
  }
}

.meme-card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem;
  width: calc(100% - 2px);
  position: relative;
  left: 1px;
  bottom: 1px;

  span {
    color: $content-color;
  }

  .meme-card-score {
    margin-right: 1.5rem;
    background: #3f00ff;
    padding: 4px 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
  }

  .meme-card-vote {
    flex-grow: 1;
    display: flex;
  }

  .clicked-vote {
    background-color: #230482;
  }
}
