
.close {
  position: absolute;
  right: 0;
  top: 0;
}

#meme-card-modal {
  .modal-dialog-centered {
  max-width: 600px;
  width: 100%;
  }

  .modal-body {
    padding: 0;
  }

  .comment-container {
    padding: 1rem;
    // border-top: 1px solid $content-color
  }

  #new_comment {
    width: 100%;
  }
  // .meme-card-infos {
  //   // border-top: 1px solid $content-color
  // }
}
