#leader-modal {
  background-color: $dark-blue;
  color: $content-color;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.table {
  background-color: $dark-blue;
  color: $content-color;
}
