.left-sidebar, .right-sidebar {
  position: fixed;
  width: 290px;
  height: calc(100vh - 75px);
  padding: 3rem 2rem;
  bottom: 0;
  background-color: $dark-blue;
  color: $content-color;

  h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}

.left-sidebar {
  left: 0;
  border-right: 1px solid $border-color;

  .filtered {

  i {
      padding-right: 1rem;
      font-size: 1rem;
      position: relative;
      top: -1px;
      opacity: 0;
      transition: .3s all ease-in-out;

    }

  a {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .4rem;
    padding: .5rem 1rem;
    transition: .3s all ease-in-out;


    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff
    }
    &:hover i {
      opacity: 1;
    }



  }
}

span.active a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.show-all {
  i {
    padding-left: 1rem;
    transition: .3s all ease-in-out;
  }
}
.show-all.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  i {
    opacity: 1;
  }
}

span.active a i {
  opacity: 1;
}

  h3 {
    margin-bottom: 2rem;
  }
}

.right-sidebar {
  right: 1.5rem;
  background-color: transparent;
  padding: 0;

}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-blue;
  padding: 1rem 2rem;
  height: calc(50% - 2rem);
  border: 1px solid $border-color;
  margin-top: 1.5rem;



  table {
    font-size: 1.2rem;
    color: $content-color;
  }

  h4 {
    margin-bottom: 2rem;
  }
}


.ruleboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-blue;
  padding: 1rem 2rem;
  font-size: .8rem;
  height: calc(50% - 2rem);
  margin-top: 1.5rem;
  border: 1px solid $border-color;



  h3 {
    margin-bottom: 1rem;
  }
}

.create-meme {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  i {
    margin-right: .5rem;
  }
  button {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  }

  img {
    padding: 1rem 3rem;
  }
}

table td:last-child, table th:last-child {
  text-align: center;
}

table {
  font-size: 1.2rem;
}

.rule {
  p {
    font-size: 1rem;
  }
}

.modal-dialog-centered {
  background: transparent;
}
