.sidebar-container {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

}

.left-sidebar, .right-sidebar {
  position: fixed;
  width: 350px;
  height: calc(100vh - 75px);
  padding: 3rem 2rem;
  bottom: 0;
  background-color: #fff;
}

.left-sidebar {
  left: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

  h3 {
    margin-bottom: 2rem;
  }
}

.right-sidebar {
  right: 0;
  background-color: transparent;
  padding: 0;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 2rem;
  font-size: .8rem;
  height: calc(50% - 1rem);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}


.ruleboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 2rem;
  font-size: .8rem;
  height: calc(50% - 1rem);
  margin-top: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

  h3 {
    margin-bottom: 1rem;
  }
}
